.bottomnav{
    width: 100%;
    height: auto;
    background-color: #232323;
    color:#f1f1f1;
    border-top: 3px solid rgba(90, 90, 90, 0.8);
}
.bottomnavlist{
    padding-bottom: 20px;
    border-bottom: solid 2px#414141;
    padding-left: 25%;
}
.bottomnav ul{
    font-weight: bold;
    font-size: 120%;
    padding-bottom: 20px;
}
.bottomnavlist h2{
    padding-bottom: 5px;
}
.bottomnav li{
    font-size: 80%;
    color: #A0A0A0;
    font-weight: bold;
    list-style: none;
}
.bottomnav a{
    color: #44c77d;
    cursor: pointer;
    padding-inline: 10px;
}
.bottomnav a:hover{
    color:  #A0A0A0;
}
.row iframe{
    vertical-align: bottom;
}
.row{
    width: max-content;
    display: inline-table;
    padding-inline: 20px;
}
@media screen and (max-width: 600px){
    .row{
        width: max-content;
        margin: 0 auto;
        padding-inline: 0px;
    }
}
.bottomnavlinkek {

    font-size: 16px;
    width: max-content;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
.bottomnavlinkek a{
    text-decoration-line: none;
}

@media screen and (max-width: 1100px){
    .bottomnavlinkek{
        width: 100%;
    }
}
