* {
    margin: 0px;
    padding: 0px;
  }
html, body{
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    color: rgb(40, 40, 40);
    
}
body h1{
    font-size: 2.7vw;
    padding-bottom: 2%;
    text-align: center;
}
body h2{
    text-align: justify;
    font-size: 1.1vw;
    line-height: 150%;
}
.main {
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    height: auto;
    background-color: ghostwhite;
    box-shadow: -5px 2px 5px 5px #414141;
}
.main ul{
    width: max-content;
    margin: 0 auto;
    list-style: none;
}
.main li {
    text-align: center;
}
.main h3{
    font-size: 140%;
}
.main h2{
    font-size: 200%;
}
@media screen and (max-width: 1000px){
    .main h2{
        font-size: 110%;
    }
    .main h3{

        font-size: 80%;
    }
}
.main1 {
    padding: 20%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    color: snow;
    background-color: #414141;
    z-index: 1;
    box-shadow: -5px 5px 5px 5px #232323;
}
.main1 h2{
    font-size: 220%;
    text-align: center;
}
.main2 {
    background-color: ghostwhite;
    padding: 20%;
    padding-top: 3%;
    padding-bottom: 2.5%;
}
.main2 h2{
    text-align: center;
    padding-bottom: 3%;
}
.main2 h3{
    word-break: break-all;
    display: inline-block;
    padding-inline: 2%;
}
.main2 i{
    padding-right: 10px;
}
.main3 {
    background-image: url("pics/kep1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -1;
    background-position: 0px, 200px, 0px, 0px;
    width: 100%;
    height: auto;
}
.main3 h1{
    padding-top: 5%;
}
.main_boxes{
    width: max-content;
    margin: 0 auto;
}
.main_boxes h2{
    font-size: 30px;
    text-align: center;
}
.main_boxes li {
    font-size: 110%;
    list-style: none;
    padding: 5%;
    color: black;
    padding-bottom: 0px;
    padding-top: 0px;
}
.main_boxes ul{
    margin-top: 10%;
    margin-bottom: 10%;
    border: solid 1px #414141;
    height: 230px;
    width: 280px;
    margin-inline: 40px;
    background-color: #414141;
    display: inline-block;
    color: #f1f1f1;
    background-image: -webkit-gradient(
    linear,
    center top,
    center bottom,
    color-stop(0, #414141),
    color-stop(18%,#414141),
    color-stop(20%,#f8f8ff),
    color-stop(40%,#f8f8ff),
    color-stop(60%,#f8f8ff),
    color-stop(100%,#f8f8ff)
	);
    box-shadow: 0 2px 5px 5px #232323;
}
@media screen and (max-width: 500px){
    .main_boxes{
        display: contents;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .main_boxes UL{
        margin-inline: 5%;
    }
}


@media screen and (max-width: 1000px){
    body h1{
        font-size: 4vw;
    }
    body h2{

        font-size: 3.4vw;
    }
}