html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}
body h1{
    font-size: 2.7vw;
    padding-bottom: 2%;
}
body h2{
    text-align: justify;
    font-size: 2vw;
}
.main{
    padding: 20%;
    padding-top: 0%;
    padding-bottom: 5%;
}
.page{
    background-color:  #fafafa  ;
    border-style: groove;
    border-color: rgba(90, 90, 90, 0.98);
    /*border-radius: 20px;*/
    border-width: 5px;
}
.page_content{
    padding: 5%;
    padding-bottom: 20%;
}
.page_content h1{
    text-align: center;
}
.kep{   
    width: 100%;
    height: 60%;
    background-image: url("pics/main.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
@media screen and (max-width: 1000px){
    body h1{
        font-size: 4vw;
    }
    body h2{

        font-size: 3.4vw;
    }
}